################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IucnRedList/IucnRedList.Model/bin/Debug
/IucnRedList/IucnRedList.Model/obj/Debug
/.vs
/IucnRedList/.vs/IucnRedList/v16
/IucnRedList/packages/Newtonsoft.Json.12.0.2
