################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IucnRedList/IucnRedList.Model/bin/Debug
/IucnRedList/IucnRedList.Model/obj/Debug
/.vs
/IucnRedList/.vs/IucnRedList/v16
/IucnRedList/packages/
/IucnRedList/IucnRedList.ConsoleApp/bin/Debug
/IucnRedList/IucnRedList.ConsoleApp/obj/Debug
/IucnRedList/IucnRedList.WebService.Client/bin/Debug
/IucnRedList/IucnRedList.WebService.Client/obj/Debug
